{% extends 'base.html' %}

{% include 'navbar.html' %}
{% block title %}
<title>Course Detail</title>
{% endblock title %}

{% block content %}
    <center>
        <img src="{{ course.photo.url }}" alt="" width="400">
        <h1>{{ course.main_title }}</h1>
        <p>{{ course.about_course }}</p>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-primary" name="enroll-button">Enroll</button>
        </form>
    </center>
{% endblock content %}