{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>RavshanEnergy - Home Page</title>
{% endblock title %}

{% block meta %}
<meta name="description" content="Tips, instructions and video tutorials for dreamers">
<meta name="author" content="Ravshanbek Madaminov">
<meta name="keywords" content="Ravshanbek Madaminov, Ravshanbek's Blog, Ravshanenergy uz, Ravshanenergy.uz, Python, JavaScript, Java, PHP, Programming, How to, What is">
{% endblock meta %}

{% block content %}

{% include 'navbar.html' %}

<section id="home" class="bg-primary py-8 py-lg-10">
    <div class="container my-8 my-lg-10">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center text-white">

          <h1 class="h1 text-white mb-7 ">Welcome!</h1>
          <h2 class="h5 text-white mb-7">Blogs, projects and courses for dreamers</h2>
          <a href="about-me.html" class="btn btn-soft-white d-block d-sm-inline-block scrollto">About me</a>

        </div>
      </div>
    </div>
    <div class="shape-advanced shape-bottom">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 20" class="fill-white" preserveAspectRatio="none">
        <path d="M 0 0 C 200 20 400 18 500 18 C 600 18 800 20 1000 0 L 1000 20 L 0 20 L 0 0 Z"/>
      </svg>
    </div>
  </section>

  <section id="slide-demo" class="pt-8 pt-xl-10 pb-0">
    <div class="container">
      <h2 class="text-center mb-7">{% blocktrans %}Blogs{% endblocktrans %}</h2>
      <div class="row m-n4">
        {% for blog in blogs %}
            <div class="col-12 col-sm-6 col-lg-4 p-4">
                <a class="card" href="{% url 'blog:blog-detail' blog.slug %}">
                    <img class="card-img-top" src="{{ blog.preview_image.url }}" alt="Unsupported image">
                    <div class="card-body text-center text-body">
                    <p>{{ blog.title }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}  
      </div>
    </div>
  </section>

  <section class="pt-8 pt-xl-10 pb-0">
    <div class="container mb-n8 mb-xl-n10">
      <div class="bg-primary rounded px-7 py-8 py-xl-10 text-white text-center">
        <div class="w-lg-75 w-xl-50 mx-auto">
          <h2 class="mb-5">Start with our services</h2>
          <p class="lead mb-7">We can easily build any web-app for you and your service!</p>
          <a href="https://t.me/rmdeveloper" rel="nofollow noopener" class="btn btn-white mr-md-3">Contact</a>
        </div>
      </div>
    </div>
  </section>

{% endblock content %}