{% load i18n %}
{% load static %}
<!-- Site navigation -->
<nav id="siteNavbar" class="site-navbar site-navbar-transparent navbar navbar-expand-lg navbar-dark fixed-top bg-white shadow-light px-lg-4" data-navbar-base="navbar-dark" data-navbar-toggled="navbar-light" data-navbar-scrolled="navbar-light">

    <!-- Brand -->
    <a class="navbar-brand" href="{% url 'blog:index' %}">
      <img src="assets/images/logo-white.png" class="navbar-brand-img navbar-brand-img-light" alt="">
      <img src="assets/images/logo-dark.png" class="navbar-brand-img navbar-brand-img-dark" alt="">
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler-alternative" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-alternative-icon">
        <span></span>
      </span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto" id="navigation">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog:index' %}" role="button" aria-haspopup="true" aria-expanded="false">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'portfolio:dashboard' %}" role="button" aria-haspopup="true" aria-expanded="false">
            Portfolio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="{% url 'academy:dashboard' %}" role="button" aria-haspopup="true" aria-expanded="false">
            Academy
          </a>
        </li>
      </ul>

      <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
        <input type="hidden" name="next" value="{{ redirect_to }}">
        <select name="language">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <option value="{{ language.code }}"{% if languange.code == LANGUAGE_CODE %} selected {% endif %}>
                    {{ language.name_local }} {{ language.code }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" class="btn btn-primary" value={% blocktrans %}"Go"{% endblocktrans %}>
    </form>

    </div>
  </nav>

  